body{
  background-color: #0d0d0d;
  margin: 0;
  font-family: cursive;
}
header{
  background-color: #141414;
  padding: 20px;
  text-align: center;
}
form{
  margin: 20px;
  color: #eee;
}
form p{
  font-size: x-large;
  letter-spacing: 0.1em;
}
